# Environment and local configuration
/.env

# Data files
/data.json
/prices.json
/payments.csv
/requests.csv
/data-backup.json
/chat_context/

# Temporary or development files
/todo.py

# PyCharm specific
/.idea
__pycache__

# Virtual environment
venv/
